$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$error: #CB3D40;
$white: #fff;
$black: #000;

$font: 'Nunito', sans-serif;

$media360: 'max-width: 360px';
$media768: 'max-width: 768px';
$media1024: 'max-width: 1024px';
$media2560: 'max-width: 2560px';
$media-form: 'max-width: 400px';
